.dashboard{
    background-color: #389dff;
    color: #efefef;
    border-radius: 12px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0.3, 0.35), 0 0.5px 10px 0 rgba(0, 0, 0, 0.45);
    width: 40%;
    padding: 20px;
    margin-top: 5%;
}

.dashboardInnerBorder{
    border-radius: 12px;
    background-color: #464646;
    border: 2px solid white;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.5, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

p{
    font-size: 100%;
}

.capacity{
    /* background-color: #2196f3; */
    color: white;
    font-size: 100%;
    padding-bottom: 2px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    /* width: 100%; */
    height: 40%;
    text-align: center;
    border: 0.5px solid white;
    width: auto;
}

.capacityDiv{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25); */
    padding: 30px;
    border-radius: 12px;
    width: auto;
    height: auto;
}

h1{
    font-size: 250%;
}
